name: Kubernetes CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  sbcrudk8s-ci:
      runs-on: ubuntu-latest
      steps:
        - name: Code Chekout
          uses: actions/checkout@v4
        - name: Build the Docker Image
          run: "docker build -t hridaysrivastava/githubactionsbapp:$GITHUB_SHA -f k8scruddemo/Dockerfile ."
