name: Kubernetes CI

on:
  push:
    branches: [ "main" ]

jobs:
  sbcrudk8s-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Jar with Maven
        run: mvn clean package -DskipTests
        working-directory: k8scruddemo

      - name: Build Docker Image
        run: docker build -t hridaysrivastava/githubactionsbapp:$GITHUB_SHA .
        working-directory: k8scruddemo
